:root {
  --card-corner-radius: 8px;
}

$z-loading-indicator: 100;
$z-nav-menu: 200;
$z-dropdown-menu: 300;
$z-modal-backdrop: 400;
$z-modal-body: 410;

.testing-dummy {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

button {
  cursor: pointer;
}

body {
  line-height: 1.34;
  background-color: #f2f3f5;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}
